---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kenny Raymond - Product Designer">
  <section class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-semibold">Kenny Raymond</h1>
  </section>
</Layout>
