---
import Layout from '../layouts/Layout.astro';
import WorkCards from '../components/WorkCards.astro';
---

<Layout title="Work - Kenny Raymond">

  <!-- Work Section -->
  <section class="pt-28 py-20 md:py-28 px-6 md:px-10">
    <h2 class="text-[20vw] font-semibold uppercase tracking-tighter leading-none">
      Work
    </h2>

    <WorkCards />
  </section>

</Layout>
